<!DOCTYPE html>
<html class="no-js lt-ie9 ng-scope" ng-app="casinoApp">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <title>Games</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <style>
    body{
      background-color: #000000;
    }
    .wrapper{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    div.text-center{
      color: #ffffff;
      font-weight: bolder;
      font-size: xx-large;
    }
    div.text-center img{
      margin-bottom: 25px;
    }
    div.text-center img.second-img{
      margin-top: 25px;
    }
    div.text-center p {
      margin: 0 0 7px;
    }
    div.text-center p.second-text{
      font-size: x-large;
      color: #f4b741;
    }
  </style>


<body style="zoom: 1;" class="ng-scope">

<div class="wrapper">
  <div class="text-center">
    <img class="second-img" src="/other/assets/maintenance-img.png" alt="" width="300">
    <p class="first-text ng-scope" translate="">업데이트중...  </p>
    <p class="first-text ng-scope" translate="">잠시만 기다려 주세요.</p>

    <% if(serverInfo){ %>
      <p class="second-text <%=serverInfo.server_code%>">이 페이지가 지속되면 관리자에게 문의해주세요.</p>
    <% } %>
  </div>
</div>

<script type="text/javascript" src="/client_billion/desktop/include/js/jquery-1.11.3.min.js"></script>

</body></html>